version: '3.9'

services:
  php-fpm:
    container_name: php
    build:
      context: .
      dockerfile: Dockerfile.php-fpm
    volumes:
      - .:/var/www/html
    ports:
      - "8000:8000" # Map port 8080 on your host to port 80 in the container
    networks:
      - pharmacy_sw2

  mysql:
    container_name: mysql 
    build:
      context: .
      dockerfile: Dockerfile.mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234 
      MYSQL_DATABASE: pharmacy_sw2
      MYSQL_USER: diegohv
      MYSQL_PASSWORD: 1234
    networks:
      - pharmacy_sw2

networks: 
 pharmacy_sw2:
  external: true 